<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <title>Личный кабинет администратора</title>
</head>
<body>
    <header>
        Добро пожаловать в мир автоматизации
    </header>
    <header>
        Личный кабинет администратора
    </header>
    <article>
        <form style="display: inline" method="get" th:action="@{/go search}">
            <button type="submit">Поиск</button>
        </form>
        <form style="display: inline" method="get" th:action="@{/admin/product/add}">
            <button type="submit">Добавить товар</button>
        </form>
        <form style="display: inline" method="post" th:action="@{/logout}">
            <button type="submit">Выход</button>
        </form>
    </article>
    <main>
        <div th:each="product : ${products}">
            <div class="card">
                <div class="green_area" th:text="${product.getTitle()}"></div>
                <div class="green_area">
                    <pre th:text="${product.getDescription()}"></pre>
                </div>
                <div class="green_area" th:text="'Цена: ' + ${product.getPrice()}"></div>
                <div class="green_area" th:text="'Cклад: ' + ${product.getWarehouse()}"></div>
                <div class="green_area" th:text="'Продавец: ' + ${product.getSeller()}"></div>
                <div class="green_area" th:text="'Категория: ' + ${product.getCategory().getName()}"></div>
                <div th:each="img : ${product.getImageList()}">
                    <img th:src="'/img/' + ${img.getFileName()}">
                </div>
                <form style="display: inline" method="get" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}">
                    <button type="submit">Редактировать</button>
                </form>
                <form style="display: inline" method="get" th:action="@{/admin/product/delete/{id}(id=${product.getId()})}">
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>