<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <title>Заказы</title>
</head>
<body>
    <header>
        Добро пожаловать в мир автоматизации
    </header>
    <header>
        Заказы
    </header>
    <article>
        <form style="display: inline" method="get" th:action="@{/person account}">
            <button type="submit">Кабинет</button>
        </form>
        <form style="display: inline" method="get" th:action="@{/go search}">
            <button type="submit">Поиск</button>
        </form>
        <form style="display: inline" method="get" th:action="@{/cart}">
            <button type="submit">Корзина</button>
        </form>
        <form style="display: inline" method="post" th:action="@{/logout}">
            <button type="submit">Выход</button>
        </form>
    </article>
    <main>
        <div th:each="order : ${orders}">
            <div class="card">
                <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
                <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}">
                <div class="green_area" th:text="${order.getProduct().getTitle()}"></div>
                <div class="green_area" th:text="'Количество: ' + ${order.getCount()}"></div>
                <div class="green_area" th:text="'Цена: ' + ${order.getPrice()}"></div>
                <div class="green_area" th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></div>
                <div class="green_area" th:text="'Cтатус: ' + ${order.getStatus()}"></div>
            </div>
        </div>
    </main>
</body>
</html>